APP_NAME=MarckStock
APP_ENV=production

DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DBNAME
DB_SSLMODE=prefer

ADMIN_USER=admin
ADMIN_PASSWORD=CAMBIAR_EN_RENDER
ADMIN_NAME=Administrador General

ENCARGADO_USER=encargado
ENCARGADO_PASSWORD=CAMBIAR_EN_RENDER
ENCARGADO_NAME=Encargado Principal

TOKEN_TTL_HOURS=168